.btn {
  background-color: #fff;
  font-size: 20px;
  margin: 3px;
  border: 0.5px solid #cdcdcd;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3f8af7;
}
